body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#corpsi{
    display:inline-flex;
    background-color: grey;
    overflow: hidden;
    text-align: center;
    font-size: 1.3em;
}
#page{
    background-color: grey;
    width: 100vw;
    margin: 0px;
}
#profil{
    background-color: darkgray;
    width: 100vw;
    height: 150px;
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
}
#contenu{
    background-color: rgba(121, 138, 154, 0.514);
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
}
.h{
    margin-top: 40px;
}
#imgac{
    width: 30%;
    height: 30%;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 15px;
    margin-top: 30px;
    background-color: black;
    color: azure;
    border-radius: 50px 50px 50px 50px;
    cursor: pointer;
    
}
button:hover{
    background-color: rgba(10, 10, 61, 0.572);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
#svl{
    position: relative;
    display: inline-block;
}
#msg{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
#svl:hover.msg{
    display: block;
}
/*Pour téléphone(petits écrans)*/
@media screen and (max-width:1499px){
    body{
        width: 90%;
    }
}
/*Pour téléphone(moyens et grands écrans)*/
@media screen and (max-width:768px){
    body{
        border-radius: 50px;
    }
}


#corpsc{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
   
}
.nonf{
    color: white;
    padding: 2px;
    text-align: center;
}
#doc{
    display: flex;
    width: 595px;
    height: 842px;
    background-color: beige;
    box-shadow: 0px 1px 1px 1px;
}
#doc #des{
    width: 35%;
    height: 100%;
    padding-left: 40px;
}
#doc #cont{
    width: 65%;
    height: 100%;
    padding-left: 40px;
}
#doc #prof{
    width: 100%;
    height: 100%;
    background-color: rgba(189, 176, 176, 0.952);
}
#doc #prof #pro{
   width: 100%;
   height: 37%;
   background-color: rgb(46, 44, 44);
   border-bottom-left-radius: 120px;
   border-bottom-right-radius: 120px;
   display: flex;
   flex-direction: column;
}
#img1{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.image{
    width: 360%;
    height: 320%;
    border-radius: 100%;
    margin-left: 70%;
    margin-top: 0%;
    border: solid;
    border-color: white;
}
#des #prof #contact{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact ul{
    list-style: none;
    margin: 0%;
} 
#contact ul li a{
 
    margin-top: 0%;
    text-decoration: none;
    color: black;
    font-size: x-small;
} 

#des #prof #education{
    width: 90%;
    height: 50%;
    margin-left: 5.5%;
    margin-top: 15%;
    background-color: rgb(46, 44, 44);
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    
}
#education #educ{
   
    margin-top: 0px;
    font-size:x-small;
}
#cotedroit{
    margin-left: 20px;
}
.titreed{
    color: white;
    text-align: center;
    margin-top: 30px;
}
.titrep{
    color: white;
    text-align: center;
}
.titre{
    color: white;
    padding-left: 20px;
    margin: 0px;
}
.troisb{color: black;}
.cl{
    margin-top: 0px;
    font-size: small;
    
}
.boite{
    display: flex;
}
.boite .parent{
    position: relative;
    height: 6px;
    width: 30%;
    background-color: rgb(9, 193, 193);
}
#telecharger_pdf{color: black;}